extends layouts/main

block main
  .l-main
    h1.main__title Jade Template
    p.main__intro  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex laborum animi possimus rem porro atque, ab blanditiis cumque architecto aperiam quaerat tempora, autem. Nulla est provident eligendi, quae, vel veritatis.
    a.main__button(href="https://github.com/francoiscoron/Jade-Template") Voir le dépôt