extends layouts/default

block title
 title Page d'accueil

block link
  -var selected = 'home';

block vars
  - var bodyClass = 'my-home';



block content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt accusamus natus, libero explicabo earum aliquid nobis a temporibus. Reiciendis ipsa cupiditate assumenda nam, consectetur nemo eligendi voluptatibus totam reprehenderit deleniti.