header.header
    //- LOGO
    .header--logo
        a(href="#") Logo

    //- NAVIGATION
    nav.header--nav
        each val, key in menu
            if selected === key
              a.selected(href=val, title=key)= key
            else
              a(href=val, title=key)= key