extends layouts/default

block link
  -var selected = 'blog';

block vars
  - var bodyClass = 'my-blog';

block title
    title Blog | Francois Coron

block content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt accusamus natus, libero explicabo earum aliquid nobis a temporibus. Reiciendis ipsa cupiditate assumenda nam, consectetur nemo eligendi voluptatibus totam reprehenderit deleniti.